/* body{
    color:cornflowerblue
}
h1{
    color:crimson
}
h2{
    color: goldenrod;
}
h3{
    color:hotpink
}
#lib-header
{
    color:aqua;
}
.para{
    color: darkolivegreen;
} */

body{
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Roboto+Condensed:ital@1&family=Shadows+Into+Light&display=swap');

font-family: 'Shadows Into Light', cursive;
}
/* container */
.container{
    padding-left: 2rem;
    padding-right: 5rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}
/* .container-fluid{
    padding: auto;
} */
/* links */
root{
    --primary-color:rgb(157, 255, 0);
}
.primary-link{
    background-color:yellow;
    border-radius: 0.5rem;
    color:brown;
}
.link{
    text-decoration: none;
    padding: 1rem,1rem;
}
.secondary-link{
    background-color: cadetblue;
    border-radius: 0.5rem;
    color:black

}
/* margin for hr */
hr{
    margin:2rem 3rem 0rem;
}
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation{
    background-color: burlywood;
    color: whitesmoke;
}
.navigation .link{
    color: whitesmoke;
}